<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests" thread-count="2">
	<test name="Automation-For-Web-QC">
		<classes>
			<class name="automations_WEB.FE_Open_Site"></class>
			<class name="automations_WEB.FE_Login_Site"></class>
			<class name="automations_WEB.FE_Logout_Site"></class>
			<class name="automations_WEB.FE_Register_Site"></class>
		</classes>
	</test> <!-- Automation-For-Web-QC -->
</suite> <!-- Suite -->